<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doce_do_bom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_01"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_01"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".Sobre"
            android:theme="@style/AppCompat.TelaCheia"></activity>
        <activity
            android:name=".Produto"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Usuario"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Splashscreen2"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Cadastro"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Inicio"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Login"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".Splashscreen1"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>